.example-container mat-form-field + mat-form-field, button {
    margin-left: 10px;
  }
  
  
  mat-toolbar {
    justify-content: space-between;
  }
  
  .column {
    float: left;
    width: 33.33%;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }