<mat-card class="example-card mb-5 ml-5 mr-5 mt-5 center-element">

    <mat-card-content>  
      <div class="main-wrapper">
        <picture class="scarecrow-img">
          <img src="../assets/Scarecrow.png" alt="scarecrow">
        </picture>
        <div class="error-text">
          <h2>Nie znaleziono strony</h2>
          <p>Strona którą chcesz zobaczyć nie istnieje lub jest tymczasowo niedostępna.</p>
          <span class="input-group-btn">
            <button class="btn" type="button" (click)="toPageView()">Wróć do przeglądu stacji</button>
          </span>
        </div>
      </div>
    </mat-card-content>
</mat-card>

  
  