<div *ngIf="stationList.length > 0 && error == false" class="content">
    <div fxLayout="row wrap" fxLayoutGap="16px grid">
      <div 
        [fxFlex]="(100/gridColumns) + '%'"
        fxFlex.xs="100%" fxFlex.sm="33%"   
        *ngFor="let station of stationList; let i = index" > 
        
        <mat-card class="mat-elevation-z4">
          <mat-card-header class="title_center" style="white-space: nowrap; ">
            <mat-card-title style="font-size: 0.90vw; ">{{station.name}}</mat-card-title>
          </mat-card-header>
          <div class="title_center">
            <img mat-card-image src="./../assets/sun.png">
          </div>
          <mat-card-content>
            <!-- <p>
              Ostatnie dane pomiarowe: 
            </p> -->
          </mat-card-content>
          <mat-card-actions>
            <button mat-button (click)="toEditPage(station.id)">USTAWIENIA STACJI</button>
            <button mat-button (click)="toInformationPage(station.id)" style="margin-left: auto; margin-right: 0;">INFORMACJE O STACJI</button>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
</div>
<div *ngIf="stationList.length == 0 && error == false">
  <mat-card-header class="title_center">
    <mat-card-title><h3>Nie dodano jeszcze żadnej stacji</h3></mat-card-title>
  </mat-card-header>
</div>

<div *ngIf="error"><app-not-found></app-not-found></div>