    <br>
    <div class="title_center">
        <h4>Czujniki cyfrowe</h4>
    </div>


    <!-- TYP 1 - ds18b20 -->
    <mat-card-header class="title_center"><h4>ds18b20</h4></mat-card-header>
    <mat-card-content style="width: 50%;margin: 0 auto;" >
        <table mat-table 
              [dataSource]="dataSourceValves"
              class="mat-elevation-z8" 
              style="margin: 0 auto;">
          
            <!-- Name Column -->
            <ng-container matColumnDef="address" >
              <th mat-header-cell *matHeaderCellDef> Adres </th>
              <td mat-cell *matCellDef="let element"> {{element.address}} </td>
            </ng-container>
          
            <!-- Weight Column -->
            <ng-container matColumnDef="isActive">
              <th mat-header-cell *matHeaderCellDef> Czy jest aktywny </th>
              <td mat-cell *matCellDef="let element"> {{element.isActive}} </td>
            </ng-container>
    
            <!-- Weight Column -->
            <ng-container matColumnDef="lastMeasurements">
                <th mat-header-cell *matHeaderCellDef>Ostatni pomiar <br> temperatura</th>
                <td mat-cell *matCellDef="let element"> {{element.lastMeasurements? element.lastMeasurements : "-"}} </td>
              </ng-container>
              
              <!-- Weight Column -->
            <ng-container matColumnDef="lastMeasurementDate">
                <th mat-header-cell *matHeaderCellDef> Data ostatniego pomiaru </th>
                <td mat-cell *matCellDef="let element"> {{element.lastMeasurementDate != "Invalid Date" ? element.lastMeasurementDate:"-"}} </td>
              </ng-container>
    
              <tr title_center *matNoDataRow >
                <td [attr.colspan]="4">
                    <mat-card-header class="title_center">
                        <b>Brak danych</b>
                    </mat-card-header>
                </td>
            </tr>
              
            <tr mat-header-row *matHeaderRowDef="displayedColumnsValves"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumnsValves;"></tr>
          </table>
    </mat-card-content>


    <!-- TYP 4 - dht11 -->
    <mat-card-header class="title_center"><h4>dht11</h4></mat-card-header>
    <mat-card-content style="width: 50%;margin: 0 auto;" >
        <table mat-table 
                [dataSource]="dataSourceValvesTyp_4"
                class="mat-elevation-z8" 
                style="margin: 0 auto;">
            
            <!-- Name Column -->
            <ng-container matColumnDef="inputLine" >
                <th mat-header-cell *matHeaderCellDef> Linia Wejścia </th>
                <td mat-cell *matCellDef="let element"> {{element.inputLine}} </td>
              </ng-container>
            
            <!-- Weight Column -->
            <ng-container matColumnDef="isActive">
                <th mat-header-cell *matHeaderCellDef> Czy jest aktywny </th>
                <td mat-cell *matCellDef="let element"> {{element.isActive}} </td>
            </ng-container>
    
            <!-- Weight Column -->
            <ng-container matColumnDef="lastMeasurements_temp">
                <th mat-header-cell *matHeaderCellDef>Ostatni pomiar <br> temperatura</th>
                <td mat-cell *matCellDef="let element"> {{element.lastMeasurements_temp? element.lastMeasurements_temp : "-"}}</td>
            </ng-container>

            <ng-container matColumnDef="lastMeasurements_humidity">
                <th mat-header-cell *matHeaderCellDef>Ostatni pomiar <br> wilgotność powietrza</th>
                <td mat-cell *matCellDef="let element"> {{element.lastMeasurements_humidity? element.lastMeasurements_humidity : "-"}} </td>
            </ng-container>
    
                <!-- Weight Column -->
            <ng-container matColumnDef="lastMeasurementDate">
                <th mat-header-cell *matHeaderCellDef>Data ostatniego pomiaru</th>
                <td mat-cell *matCellDef="let element"> {{element.lastMeasurementDate != "Invalid Date" ? element.lastMeasurementDate:"-"}}</td>
            </ng-container>
    
            <tr title_center *matNoDataRow >
              <td [attr.colspan]="5">
                  <mat-card-header class="title_center">
                      <b>Brak danych</b>
                  </mat-card-header>
              </td>
          </tr>

            <tr mat-header-row *matHeaderRowDef="displayedColumnsValvesTyp_4"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumnsValvesTyp_4;"></tr>
            </table>
    </mat-card-content>
    
