<mat-accordion>
    
    <mat-expansion-panel class="mat-elevation-z4" *ngFor="let valve of valvesList; let i = index">
      <!-- PASEK -->
      <mat-expansion-panel-header>
        <mat-panel-title>
          Elektrozawór numer {{valve.pin}}
        </mat-panel-title>
        <mat-panel-description>
          <!-- {{valve.operationMode != 'AUTO' ? '&nbsp;&nbsp;&nbsp;&nbsp;' : '' }} -->
          <div style="width: 150px;">Tryb sterowania: {{valve.operationMode}}&nbsp;&nbsp;</div>
          <app-status-dot [dotType]="valve.operationMode"></app-status-dot>
          <div *ngIf="schedulerChange[i]" style="margin-left: 8%;color: rgb(240, 57, 40);">Nie zapisano zmian*</div>
          </mat-panel-description>
      </mat-expansion-panel-header>

      <!-- CONTENT -->
      <mat-card-title>Tryb sterowania</mat-card-title>
      <mat-form-field>
        <mat-select [(ngModel)]="valve.operationMode">
            <mat-option (click)="markAsChanged(i)" *ngFor="let status of valvesStatus; track status" [value]="status.value">{{status.viewValue}}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-card-title>Stan aktywny</mat-card-title>
      Niski&nbsp;&nbsp;
      <mat-slide-toggle (click)="markAsChanged(i)" class="mat-slide-toggle" [(ngModel)]="valve.enableHigh"></mat-slide-toggle>
      &nbsp;Wysoki
      <mat-card-header class="title_center">
        <mat-card-title style="font-size: 100%;">Harmonogram podlewania</mat-card-title>
      </mat-card-header>

      <mat-list role="list">
        <mat-list-item  role="listitem"
                        *ngFor="let schedule of valve.schedulesList; last as isLast"
                        style="border-top: 1px rgb(181, 178, 178) solid"
                        [style.border-bottom]="isLast ? '1px rgb(181, 178, 178) solid' : '' " 
        >
        <div class="row">
          <div class="column" style="margin-top: 8px;">Dzień podlewania: {{dayList[schedule.dayOfWeek]}}</div>
          <div class="column" style="margin-top: 8px;">
            Czas podlewania: {{schedule.hourStart}}:{{schedule.minuteStart < 10 ? '0' : '' }}{{schedule.minuteStart}}-
            {{schedule.hourStop}}:{{schedule.minuteStop < 10 ? '0' : '' }}{{schedule.minuteStop}} </div>
          <div class="column">
            <button style="float: right;transform: scale(0.75);"  
                    mat-raised-button color="warn" 
                    class="example-icon mr-3"
                    (click)="deleteShedule(valve.pin, schedule?.id,  schedule.uuid)">
              <mat-icon>info</mat-icon>&nbsp;Usuń
            </button>
          </div>
        </div>
        </mat-list-item>
        <mat-list-item  role="listitem"
                        ngxIfNotEmpty="valve.schedulesList"
                        style="border-top: 1px rgb(181, 178, 178) solid"
        >
        <mat-card-header *ngIf="valve.schedulesList.length <= 0" class="title_center">
          <mat-card-title style="font-size: 90%;">Brak</mat-card-title>
        </mat-card-header>
      </mat-list-item>
      </mat-list>
      <br>

      <app-add-new-szchedule 
        [pinNumber]="valve.pin" 
        (addSchedulerEvent)="addScheduler($event)"></app-add-new-szchedule>

      
    </mat-expansion-panel>

  
    
  </mat-accordion>