<mat-sidenav-container class="example-container fill-parent" >

  <mat-sidenav #sidenav [mode]="mode.value!" >
    <div>
      <app-menu></app-menu>
    </div>
  </mat-sidenav>
  
  <mat-sidenav-content>
    <app-banner *ngIf="!isUserLogged()"></app-banner>
    <app-header *ngIf="isUserLogged()"
                    (onMenuButtonClick) = "toggolMenuClick()"
                    (onAddTodoClick) = "createNewTodo()">
    </app-header>
      <router-outlet></router-outlet>
    <!-- <app-footer *ngIf="isUserLogged()"></app-footer> -->
  </mat-sidenav-content>


</mat-sidenav-container>